.aside {
  width: 20.625em;
  height: 100vh;
  padding: 2.3125em 0 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  background: $nb-grey-background;
  transition: all 0.2s ease-in;

  &._hidden {
    transform: translateX(-16.875em);
    transition: all 0.2s ease-out;
  }

  &__logo {
    display: inline-block;
    height: 1.875em;
    margin-bottom: 1.5em;
    padding: 0 1.5em;
    transition: transform 0.2s ease-in;

    @media (min-width: 768px) and (max-height: 550px) {
      margin-bottom: 2vh;
    }

    & img {
      height: 100%;
    }

    ._hidden & {
      transform: translateX(-16.875em);
      transition: transform 0.2s ease-out;
    }
  }

  &__elements {
    height: 100%;
    transition: transform 0.2s ease-in;

    ._hidden & {
      transform: translateX(-16.875em);
      transition: transform 0.2s ease-out;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2em 2.2em 1.6em 3.7em;
    background-color: $nb-grey-background;
    transition: transform 0.2s ease-in;
    font-size: 0.625em;
    line-height: 1.2;

    &_shadow {
      -webkit-box-shadow: 0 -4px 4px 0 rgba(183, 183, 183, 0.25);
      -moz-box-shadow: 0 -4px 4px 0 rgba(183, 183, 183, 0.25);
      box-shadow: 0 -4px 4px 0 rgba(183, 183, 183, 0.25);
      background: $nb-grey-background;
    }

    ._hidden & {
      transition: transform 0.2s ease-out;
    }
  }

  &__navigation {
    width: 100%;
    height: 100%;
  }

  &__item {
    & summary {
      position: relative;

      &:not(.aside__block-title) {
        font-size: 1.125em;
        font-weight: 600;

        &::-webkit-details-marker {
          display: none;
        }
      }

      &::-webkit-details-marker {
        padding-bottom: 0.4375em;
        position: absolute;
        right: 0;
        bottom: 0.4375em;

        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        transform: scale(-1, 1);
      }
    }
  }

  &__subitem {
    max-height: 32vh;
    padding: 0 1.5em;
    background-color: $not-so-white;

    &:first-of-type,
    &:last-of-type {
      padding-top: 1.25em;
    }

    & summary {
      cursor: pointer;

      & + ul {
        padding-left: 0.9em;
      }
    }

    & ul {
      max-height: calc(32vh - 4.5em);
      overflow-y: auto;

      padding-inline-start: 0;
      list-style-type: none;

      font-size: 1.125em;
      line-height: 1.8;

      color: #666;
      margin-block-start: 0;
      margin-block-end: 0;

      &::-webkit-scrollbar-thumb {
        width: 0.3125em;
        height: 2.3125em;
        border-radius: 0.3125em;
        background-color: $nb-grey-dark;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
      }

      a {
        color: inherit;
      }

      a._new {
        font-weight: 600;
      }

      li {
        &:last-child {
          margin-bottom: 3.875em;
        }
      }
    }

    & summary {
      position: relative;

      &::-webkit-details-marker {
        padding-bottom: 0.1875em;
        position: absolute;
        right: 0;
        bottom: 0.1875em;

        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        transform: scale(-1, 1);
      }
    }
  }

  & details {
    & summary {
      list-style: none;

      &::-webkit-details-marker {
        display: none;
        font-size: 0.625em;
      }

      &::marker {
        display: none;
      }

      & .asside__subitem-helper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;

        &:after {
          content: "";
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 8px solid #1A1B22;
          border-radius: 3px;
        }

        &.aside__subitem-length[data-length]:after {
          content: attr(data-length);
          width: auto;
          height: auto;
          padding: 0 1em;
          border: none;
          border-radius: 3px;
          font-size: 0.5625em;
          line-height: 1.6;
          color: #fff;
          background-color: #666;
        }
      }


    }
  }

  &__block-title {
    margin: 0.5em 0;
    padding: 0 0.8em;
    font-size: 1.875em;
    line-height: 1.2;
    cursor: pointer;
  }

  &__arrow-btn {
    width: 2.2em;
    height: 1.6em;
    border: none;
    background-color: transparent;
    background-image: url(/assets/images/aside-arrow.svg);
    transition: transform 0.1s ease-in;

    ._hidden & {
      transform-origin: center;
      transform: scale(-1, 1);
      transition: transform 0.1s ease-out;
    }
  }

  &__search {
    margin: 0 0 2em;
    padding: 0 1.5em;

    & .search {
      font-size: 1.5em;

      &__input {
        width: 100%;
      }

      &__suggestions {
        width: 100%;
        position: relative; /* чтобы не перекрывать боковое меню */
      }
    }
  }

  @media (max-width: 769px) {
    display: none;
  }

  &__link {
    display: block;
    width: 14.3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__link._active {
    color: $contrast-blue;
  }

  &__long {
    & ul {
      li {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__footer {
    color: $nb-gray-darkest;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.4em 2.4em;
  }
}
