<style>
  {% include './style-color.css' %}
</style>

<p class="none">В греческой политонической орфографии тильда над гласной обозначает облечённое ударение  и является шрифтовым вариантом круглой шапочки над буквой. </p>
<p class="underline dotted blue">В графике польского рукописного шрифта строчная буква L с тильдой над ней используется вместо буквы Ł, означающей твёрдый звук [л], переходящий в неслоговое [у].</p>
<p class="line-through double red">В текстах на венгерском языке тильда может использоваться в качестве суррогатного заменителя двойного акута над буквами O и U, если тот недоступен по техническим ограничениям.</p>
<p class="overline wavy green">В языках C/C++, Java, Python, Verilog и др. тильда — одноместный префиксный оператор, означающий побитовое отрицание (в отличие от логического отрицания, обозначаемого восклицательным знаком).</p>
