<style>
  {% include './style.css' %}
</style>

<p class="none">Тильда над буквой Ñ в испанском языке употребляется для обозначения мягкого звука, близкого к «нь».</p>
<p class="underline dotted">Õ — в эстонском языке обозначает неогубленный гласный заднего ряда средне-верхнего подъёма.</p>
<p class="line-through double">Ã и Õ — в португальском языке обозначают носовое произношение гласных.</p>
<p class="overline wavy">В некоторых системах фонетической транскрипции (в том числе в МФА) тильда над гласной вообще является показателем носового произношения.</p>
