<style>
  {% include './styles.css' %}
</style>

<div class="content">
  <div class="screen-relative">
    Расположен относительно окна
  </div>

  <div class="doc-relative">
    Расположен относительно документа
  </div>

<div class="x-axis x-axis-screen">Ось x относительно экрана</div>
  <div class="y-axis y-axis-screen">Ось y относительно экрана</div>
    <div class="x-axis x-axis-document">Ось x относительно документа</div>
    <div class="y-axis y-axis-document">Ось y относительно документа</div>
  </div>
</div>
