<style>
  {% include './first-line.css' %}
</style>

<section>
  <p class="text">В далекой и бледной глубине неба только что проступали звездочки; на западе еще алело — там и небосклон казался ясней и чище; полукруг луны блестел золотом сквозь черную сетку плакучей березы.</p>
</section>
