@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  margin: 0;
  padding: 5%;
  background-color: #282a2e;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

section {
  max-width: 80%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 27px;
}

.text:first-letter {
  color: #ed4242;
  font-family: "Roboto Slab", serif;
  font-size: 52px;
  line-height: 45px;
}
