<style>
  {% include './first-letter.css' %}
</style>

<section>
  <p class="text">В траве, около высоких муравейников, под легкой тенью вырезных красивых листьев папоротника, цвели фиалки и ландыши, росли сыроежки, волвянки, грузди, дубовики, красные мухоморы; на лужайках, между широкими кустами, алела земляника…</p>
</section>
