<style>
  {% include './selection.css' %}
</style>

<section>
  <p class="text">Небо было ясное, чистое, нежно-голубого цвета. Легкие белые облака, освещенные с одной стороны розовым блеском, лениво плыли в прозрачной вышине. Восток алел и пламенел, отливая в иных местах перламутром и серебром. Из-за горизонта, точно гигантские растопыренные пальцы, тянулись вверх по небу золотые полосы от лучей еще не взошедшего солнца.</p>
</section>
