<style>
  {% include './color-transition.css' %}
</style>

<div class="wrapper">
  <div class="col">
    <h2 class="title">Без transition</h2>
    <a href="#" class="link">Наведи на меня</a>
  </div>
  <div class="col transitioned">
    <h2 class="title">C transition</h2>
    <a href="#" class="link">Наведи на меня</a>
  </div>
</div>
