<style>
  {% include './tooltip-transition.css' %}
</style>

<div class="wrapper">
  <div class="col">
    <h2 class="title">Fade in</h2>
    <div class="tooltip-cnt">
      <span class="tooltip-target">Наведи на меня</span>
      <div class="tooltip">Ты — супер!</div>
    </div>

  </div>
  <div class="col transitioned">
    <h2 class="title">Slide up</h2>
    <div class="tooltip-cnt">
      <span class="tooltip-target">Наведи на меня</span>
      <div class="tooltip">Неожиданно, да? :)</div>
    </div>
  </div>
</div>
