<style>
  {% include './transition-speed.css' %}
</style>

<div class="wrapper">
  <div class="col">
    <h2 class="title">Симметрично</h2>
    <div class="button-container">
      <button class="button">Скачать быстро</button>
    </div>
  </div>
  <div class="col transitioned">
    <h2 class="title">Асимметрично</h2>
    <div class="button-container">
      <button class="button">Скачать медленно</button>
    </div>
  </div>
</div>
