<style>
  {% include './transition-of-properties.css' %}
</style>

<div class="wrapper">
  <div class="col">
    <h2 class="title">Одно свойство</h2>
    <div class="button-container">
      <button class="button">В избранное</button>
    </div>
  </div>
  <div class="col transitioned">
    <h2 class="title">Два свойства</h2>
    <div class="button-container">
      <button class="button">Купить скорее!</button>
    </div>
  </div>
</div>
