<style>
  {% include './ordered_list.css' %}
</style>

<h2>Как купить:</h2>
<ol class="benefits">
  <li class="benefits-item">Бронируете товар</li>
  <li class="benefits-item">Вам звонит менеджер</li>
  <li class="benefits-item">Оплачиваете</li>
  <li class="benefits-item">Получаете на почте</li>
</ol>
