<style>
  {% include './index.css' %}
</style>

<div class="article__code">
  <div class="container">
    <p>Привет, мы запихали текст в <code>&lt;div&gt;</code>, а сам контейнер покрасили в серый.</p>
  </div>
</div>
