@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400&amp;display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  padding: 5%;
  background-color: #18191c;
  font-family: "Roboto", sans-serif;
}

ul {
  font-size: 20px;
  font-weight: 400;
  list-style-type: none;
  text-align: center;
}

li + li {
  margin-top: 15px;
}

a {
  color: #ffffff;
  text-decoration-color: #1a5ad7;
}
